[color]
  ui = auto
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto

[user]
  name = Bryan Yang
  email = bryan.yang255@gmail.com

[alias]
  a = add
  s = status
  c = commit
  b = branch
  d = diff
  re = remote
  co = checkout

[web]
  browser = firefox
